[Unit]
Description=Camelot Merlin Task Scheduler
After=network.target

[Service]
Type=simple
Slice=camelot-control.slice
ExecStart=/opt/camelot/bin/task-scheduler
WorkingDirectory=/opt/camelot
Restart=always
RestartSec=3
LimitNOFILE=65536
Environment=GOMAXPROCS=1
Environment=GOGC=50

[Install]
WantedBy=multi-user.target
